asgiref==3.7.2
certifi==2023.11.17
contourpy==1.2.0
cycler==0.12.1
Django==5.0.1
djangorestframework==3.14.0
elastic-transport==8.12.0
elasticsearch==8.12.0
fonttools==4.47.2
greenlet==3.0.3
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.3
packaging==23.2
pandas==2.2.0
pillow==10.2.0
plotly==5.18.0
psycopg2-binary==2.9.9
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.4
seaborn==0.13.2
six==1.16.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
tenacity==8.2.3
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
streamlit
clean-text[gpl]
ollama